{% extends "base/base.html" %}
{%block title%}{{_("Mes conversations")}}{%endblock%}
{% block main %}
<h1>{{ _("Mes conversations") }}</h1>

<div class="w3-row w3-container w3-margin-bottom">
  {% if not g.discussions %}
  <p>{{_("Vous n'avez aucune conversation active pour le moment")}}</p>
  {% endif %}
  {% for discussion in g.discussions %}
  <div class="w3-card-2 w3-white w3-margin w3-padding">
    <div class="w3-panel w3-padding">
      {% if current_user.id == discussion.proposal.owner.id %}
      <h2>{{ _("Conversation avec %(user)s à propos de l'annonce %(proposal)s.", proposal=discussion.proposal.title, user=discussion.user.login) }}</h2>
      {% else %}
      <h2>{{ _("Conversation avec %(owner)s à propos de l'annonce %(proposal)s.", proposal=discussion.proposal.title, owner=discussion.proposal.owner.login) }}</h2>
      {% endif %}
      <p>
        {% if discussion.unread %}
        {{ _("%(count)d message(s) dont %(unread)s non lu(s)", count=discussion.messages|length, unread=discussion.unread_messages|length) }}
        {% else %}
        {{ _("%(count)d message(s)", count=discussion.messages|length) }}
        {% endif %}
        - {{ _("Dernier message le %(date)s", date=discussion.last_message.published|datetimeformat) }}
      </p>
      <a class="w3-button w3-right w3-round w3-red" href="{{url_for('discussion.view', id=discussion.id)}}">{{_("Accéder")}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}