{% extends "base/base.html" %}
{%block title%}{{_("Nouvelle discussion")}}{%endblock%}
{% block main %}
<h1>{{ _("Création d'une discussion") }}</h1>
<p>{{ _("Ce message, à propos de l'annonce %(proposal)s, sera adressé à %(owner)s.", proposal=g.proposal.title, owner=g.proposal.owner.login) }}</p>
<div class="w3-content w3-row-padding" style="max-width:50em">
  <form method="post" action="{{url_for('discussion.new', id=g.proposal.id)}}">
    {{g.form.hidden_tag()}}
    <div class="w3-margin">
    {{render_input(g.form.message, class_="w3-input w3-border")}}
    </div>
    <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-red" type="submit" value="{{_("Envoyer le message")}}">
    <a class="w3-button w3-round w3-black" href="{{url_for('proposal.list')}}">{{_("Retour")}}</a>
    </div>
  </form>
</div>
{% endblock %}