{% extends "base/base.html" %}
{%block title%}{{_("Visualisation d'une annonce")}}{%endblock%}
{% block main %}
<h1>{{ g.proposal.title }}</h1>
<div class="w3-content w3-padding w3-margin" style="max-width:50em">
  <p>{{g.proposal.description}}</p>
  <p>{{_("Caution demandée :")}} {%if g.proposal.caution%}{{_("Oui")}}{%else%}{{_("Non")}}{%endif%}</p>
  <p>{{_("Durée maximale du prêt :")}} {{ g.proposal.duration }} {{_("jours")}}</p>
  <a class="w3-button w3-red w3-margin" href="javascript:history.back()"><span class="fa fa-arrow-left w3-margin-right w3-hide-small"></span>{{ _("Retour") }}</a>
  {% if current_user.id==g.proposal.owner.id %}
  <a class="w3-button w3-red w3-margin" href="{{url_for('proposal.edit', id=g.proposal.id)}}"><span class="fa fa-pen w3-margin-right w3-hide-small"></span>{{_("Modifier")}}</a>
  <a class="w3-button w3-black w3-margin" href="{{url_for('proposal.delete', id=g.proposal.id)}}"><span class="fa fa-trash w3-margin-right w3-hide-small"></span>{{_("Supprimer")}}</a>
  {% endif %}
</div>
{% endblock %}