{% extends "base/base.html" %}
{%block title%}{{_("Profil")}}{%endblock%}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<h1>{{ _("Profil") }}</h1>

{%include("user/profile_header.html")%}

<h2>{{_("Vos informations personnelles")}}</h2>
<div class="w3-content w3-row-padding">
  <form method="post" action="{{url_for('user.profile')}}">
  {{g.form.hidden_tag()}}
  <div class="w3-margin">
    <div>{{_("Identifiant :")}} {{current_user.login}}</div>
  </div>
  <div class="w3-margin">
  {{render_input(g.form.email, class_="w3-input w3-border")}}
  </div>
  <div class="w3-margin">
    <h3>{{_("Ma localisation géographique")}}</h3>
    <div id="map"></div>
    <p><i>
      {{_("Vous pouvez positionner votre localisation en déplaçant le marqueur.")}}
      {{_("Votre localisation permet aux autres utilisateurs de connaitre la distance approximative de vos annonces.")}}
      {{_("Pour un souci de vie privée, nous ne souhaitons pas enregistrer votre adresse postale.")}}
      {{_("La distance est calculée 'à vol d'oiseau'.")}}
    </i></p>
  </div>
  <div class="w3-margin w3-right">
  <input class="w3-button w3-round w3-red" type="submit" value="{{_('Mettre à jour')}}">
  </div>
  </form>
</div>

<script>
function init_map() {
  // initialize the map on the "map" div with a given center and zoom
  const map = L.map("map", {
      center: [{{g.form.latitude.data or "48.85341"}}, {{g.form.longitude.data or "2.3488"}}],
      zoom: 18,
      scrollWheelZoom: false,
  });
  const tiles = L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution: "&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>"
  }).addTo(map);

  // Default position
  var marker = L.marker(
    [{{g.form.latitude.data or "48.85341"}},
    {{g.form.longitude.data or "2.3488"}}],
    {draggable:"true"},
  ).addTo(map);
  marker.on("dragend", function (e){
    var latitude = document.getElementById("latitude");
    latitude.value = marker.getLatLng().lat;
    var longitude = document.getElementById("longitude");
    longitude.value = marker.getLatLng().lng;
  });
}

window.setTimeout(init_map, 500);
</script>
{% endblock %}