<div class="w3-bar w3-white w3-border-bottom w3-large">
  {%if request["path"]==url_for('user.profile') %}
  <span class="w3-bar-item w3-block w3-red">
  {%else%}
  <a href="{{url_for('user.profile')}}" class="w3-bar-item w3-button w3-hover-red">
  {%endif%}
    <span class="fa fa-face margin-right w3-hide-small"></span>{{_("Informations personnelles")}}
  {%if request["path"]==url_for('user.profile') %}
  </span>
  {%else%}
  </a>
  {%endif%}

  {%if request["path"]==url_for('user.communities') %}
  <span class="w3-bar-item w3-block w3-red">
  {%else%}
  <a href="{{url_for('user.communities')}}" class="w3-bar-item w3-button w3-hover-red">
  {%endif%}
    <span class="fa fa-face margin-right w3-hide-small"></span>{{_("Communautés")}}
  {%if request["path"]==url_for('user.communities') %}
  </span>
  {%else%}
  </a>
  {%endif%}
</div>
