@import "w3.css";
@import "all.min.css";

@font-face{
font-family:atkinson;
src:url(../webfonts/Atkinson-Hyperlegible-Regular-102.woff2);
}

body{font-size:1.1em}

body, h1, h2, h3, h4, h5, h6{font-family:atkinson}

h1{font-size:24px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}

.w3-margin-16{margin:16px}
.w3-margin-top-16{margin-top:16px}
.w3-margin-bottom-16{margin-bottom:16px}
.w3-margin-left-16{margin-left:16px}
.w3-margin-right-16{margin-right:16px}
.w3-margin-32{margin:32px}
.w3-margin-top-32{margin-top:32px}
.w3-margin-bottom-32{margin-bottom:32px}
.w3-margin-left-32{margin-left:32px}
.w3-margin-right-32{margin-right:32px}

.w3-input{border:1px solid black}

.required:after{content:" *";color:red}

.alert-error {
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
}

.alert-warning {
color: #8a6d3b;
background-color: #fcf8e3;
border-color: #faebcc;
}

.alert-success {
color: #3c763d;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.alert-info {
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
}

#map {
height: 360px;
}