<footer class="w3-center w3-black w3-padding">
<!--
  <div class="w3-row-padding">
    <div class="w3-col m2 l2">&nbsp;</div>
    <div class="w3-col m3 l3 w3-bar-block w3-margin-bottom">
      <p class="w3-bar-item"><b>{{_("À propos")}}</b></p>
      <a href="{{url_for('core.who')}}" class="w3-bar-item">{{_("Qui sommes-nous ?")}}</a>
      <a href="{{url_for('core.why')}}" class="w3-bar-item">{{_("Pourquoi et pour qui ?")}}</a>
      <a href="{{url_for('core.manifesto')}}" class="w3-bar-item">{{_("Nos engagements")}}</a>
    </div>
    <div class="w3-col m3 l3 w3-bar-block w3-margin-bottom">
      <p class="w3-bar-item"><b>{{_("Informations légales")}}</b></p>
      <a href="{{url_for('core.cgu')}}" class="w3-bar-item">{{_("Conditions générales d'utilisation")}}</a>
      <a href="{{url_for('core.rgpd')}}" class="w3-bar-item">{{_("Vie privée et cookies")}}</a>
      <a href="{{url_for('core.legal')}}" class="w3-bar-item">{{_("Vos droits et obligations")}}</a>
      <a href="{{url_for('core.charter')}}" class="w3-bar-item">{{_("Charte de bonne conduite")}}</a>
    </div>
    <div class="w3-col m3 l3 w3-bar-block w3-margin-bottom">
      <p class="w3-bar-item"><b>{{_("Besoin d'aide ?")}}</b></p>
      <a href="{{url_for('core.faq')}}" class="w3-bar-item">{{_("Foire Aux Questions")}}</a>
      <a href="{{url_for('core.contact')}}" class="w3-bar-item">{{_("Contactez-nous")}}</a>
      <a href="{{url_for('core.status')}}" class="w3-bar-item">{{_("Statut du service")}}</a>
    </div>
    <div class="w3-col m2 l2">&nbsp;</div>
  </div>
-->
  <p>{{_("Propulsé par ")}}<a href="https://framagit.org/Mindiell/share-ring">Share-Ring</a></p>
</footer>
