<!-- Navigation Bar -->
<div class="w3-bar w3-large">
  <a href="{{url_for('core.index')}}" class="w3-bar-item w3-button w3-hover-red"><b><i class="fa fa-handshake w3-margin-right"></i>Share-Ring</b></a>
  {% if current_user.is_anonymous %}
  {% if g.settings.can_subscribe %}
  <a href="{{url_for('user.register')}}" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><span class="fa fa-pen-to-square w3-margin-right w3-hide-small"></span>{{_("S'inscrire")}}</a>
  {% endif %}
  <a href="{{url_for('user.login')}}" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><span class="fa fa-circle-user w3-margin-right w3-hide-small"></span>{{_("Se connecter")}}</a>
  {% else %}
  <a href="{{url_for('core.search')}}" class="w3-bar-item w3-button w3-hover-red w3-text-grey"><span class="fa fa-magnifying-glass w3-margin-right w3-hide-small"></span>{{_("Recherche")}}</a>
  <a href="{{url_for('user.logout')}}" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><span class="fa fa-right-to-bracket w3-margin-right w3-hide-small"></span>{{_("Se déconnecter")}}</a>
  <a href="{{url_for('user.profile')}}" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><span class="fa fa-user w3-margin-right w3-hide-small"></span>{{_("Profil")}}</a>
  <a href="{{url_for('proposal.list')}}" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><span class="fa fa-bullhorn w3-margin-right w3-hide-small"></span>{{_("Mes annonces")}}</a>
  <a href="{{url_for('discussion.list')}}" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><span class="fa fa-comments w3-margin-right w3-hide-small"></span>{{_("Mes conversations")}} {% if current_user.unread_discussions %}<span class="w3-badge w3-red">{{current_user.unread_discussions}}</span>{% endif %}</a>
  {% if current_user.is_admin %}
  <a href="{{url_for('admin.dashboard')}}" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><span class="fa fa-gears w3-margin-right w3-hide-small"></span>{{_("Administration")}}</a>
  {% endif %}
  {% endif %}
</div>
