<div class="w3-bar w3-white w3-border-bottom w3-large">
  {%if request["path"]==url_for('admin.dashboard') %}
  <span class="w3-bar-item w3-block w3-red">
  {%else%}
  <a href="{{url_for('admin.dashboard')}}" class="w3-bar-item w3-button w3-hover-red">
  {%endif%}
    <span class="fa fa-stats w3-margin-right w3-hide-small"></span>{{_("Tableau de bord")}}
  {%if request["path"]==url_for('admin.dashboard') %}
  </span>
  {%else%}
  </a>
  {%endif%}

  {%if request["path"]==url_for('admin.rules') %}
  <span class="w3-bar-item w3-block w3-red">
  {%else%}
  <a href="{{url_for('admin.rules')}}" class="w3-bar-item w3-button w3-hover-red">
  {%endif%}
    <span class="fa fa-gears w3-margin-right w3-hide-small"></span>{{_("Règles du serveur")}}
  {%if request["path"]==url_for('admin.rules') %}
  </span>
  {%else%}
  </a>
  {%endif%}

  {%if request["path"]==url_for('admin.settings') %}
  <span class="w3-bar-item w3-block w3-red">
  {%else%}
  <a href="{{url_for('admin.settings')}}" class="w3-bar-item w3-button w3-hover-red">
  {%endif%}
    <span class="fa fa-gears w3-margin-right w3-hide-small"></span>{{_("Paramétrage")}}
  {%if request["path"]==url_for('admin.settings') %}
  </span>
  {%else%}
  </a>
  {%endif%}

</div>
