{% extends "base/base.html" %}
{%block title%}{{_("Administration")}}{%endblock%}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<h1>{{ _("Administration") }}</h1>

{%include("admin/admin_header.html")%}

<h2>{{_("Règles du serveur")}}</h2>
<div class="w3-content w3-row-padding">
  <p>{{_("Les règles du serveur doivent être écrites en Markdown afin d'être automatiquement transformées en HTML")}}</p>
  {% for rule in g.rules %}
  <h3>{{_("Règle ") }} {{ loop.index }}</h3>
  <p>{{ rule.rule }}</p>
  {% endfor %}
  <form method="post" action="{{url_for('admin.rule_new')}}">
  {{g.form.hidden_tag()}}
  <div class="w3-margin">
  {{render_textarea(g.form.rule, rows="6", cols="80", class_="w3-textarea w3-border")}}
  </div>
  <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-red" type="submit" value="{{_('Ajouter cette règle')}}">
  </div>
  </form>
</div>
{% endblock %}
