{% extends "base/base.html" %}
{%block title%}{{_("Administration")}}{%endblock%}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}" />
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<h1>{{ _("Administration") }}</h1>

{%include("admin/admin_header.html")%}

<h2>{{_("Paramétrage")}}</h2>
<div class="w3-content w3-row-padding">
  <form method="post" action="{{url_for('admin.settings')}}">
  {{g.form.hidden_tag()}}
  <div class="w3-margin">
  {{render_checkbox(g.form.can_subscribe, class_="w3-checkbox w3-border")}}
  </div>
  <div class="w3-margin">
  {{render_checkbox(g.form.can_create_community, class_="w3-checkbox w3-border")}}
  </div>
  <div class="w3-margin w3-right">
    <input class="w3-button w3-round w3-red" type="submit" value="{{_('Mettre à jour')}}">
  </div>
  </form>
</div>
{% endblock %}
